/* Footer / Rodapé */
footer {
    margin-top: 20px;
    border-top: 3px solid #000;
}

.footer-container {
    display: flex;
    justify-content: left;
    gap: 300px;
    margin-left: 20px;
}

.footer-infos{

}

.footer-contatos{

}

.footer-redes{
    display: flex;
    flex-direction: column;
}

.footer-direitos{
    display: flex;
    justify-content: center;
}