/* Header / Cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    border-bottom: 5px solid #000;
    background-color: #e5e9eb;
}

/* Logo */
header img {
    width: 100px;
}

/* Links de Navegação */
header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Texto dos Links */
header nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #000;
}

/* Botão de Matricula */
header button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {

    header {
        flex-wrap: wrap;
        padding: 10px 20px;
    }

    header nav {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

}